*.log
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyc
*.pyd
*.pyw
*.pyz
*.so
*.egg-info/
*.egg
*.manifest
*.spec
*.dist-info
*.egg-info
*.egg
*.manifest
*.spec
*.dist-info
*.egg-info
*.egg
*.manifest